<div class="container" style="margin: 0 auto;">
    <h1 style="margin-top: 50px; margin-left: 400px; margin-bottom: 40px;">Create Your Account</h1>
    <div class="row" style="margin-bottom: 20px; margin-left: 100px; margin-right: 100px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget neque sit amet risus imperdiet consectetur. Suspendisse sed turpis lectus. In iaculis convallis justo, et porttitor sapien</p>
    </div>
    <div class="row" style="margin: 0 auto; display: flex; align-content: center; margin-left: 150px; margin-right: 150px; ">
        <div class="col-xs-6" style="justify-content: center;">
            <button class="btn btn-default" style="width: 100%; padding-top: 12px;">
                <p><i class="fa fa-google fa-2x colo" style="color:#C63D2D; margin-right: 10px;"></i>   Sign up with Google</p>
            </button>
        </div>
        <div class="col-xs-6" style="justify-content: center;">
            <button class="btn btn-default" style="width: 100%; padding-top: 12px; box-shadow: black;">
                <p><i class="fa fa-facebook-official fa-2x" aria-hidden="true" style="color: #385998; margin-right: 10px;"></i>    Sign up with Facebook</p>
            </button>
        </div>
    </div>
    <div class="row" style="margin: 10 auto; ">
        <div class="hrdivider">
            <hr/>
            <span>or</span>
        </div>
    </div>
</div>