<div class="container" style="margin: 0 auto; width: 80%;">
    <div class="row" style="margin: 20px 60px; display: flex; align-content: centerl;">
        <div class="col-xs-10" style="width: 70%; margin: 0 auto;">
            <form>
                <div class="row">
                    <div class="col-xs-10 form-group">
                        <input type="text" class="form-control" id="fusr" placeholder="First Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 form-group">
                        <input type="text" class="form-control" id="fusr" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 form-group">
                        <input type="text" class="form-control" id="fusr" placeholder="Email Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 form-group">
                        <input type="password" class="form-control" id="fusr" placeholder="Password">
                    </div>
                </div>
                <div class="row" style="margin-left: 1px;">
                    <div class="col-xs-10-form-group">
                        <button class="btn btn-primary" style="width: 415px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>